@use "font-face";
@use "../abstracts";

html {
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  line-height: 1.6;
}

h1,
h2,
h3 {

  font-family: font-face.$font-face-title;
}

h2{
  font-size: 4rem
}

p {
  font-family: font-face.$font-face-body;
  
}
