$primary-bg-color: #323d58;
$secondary-bg-color: #243661;
$text-body-color: rgba(255, 252, 252, 0.78);
$heading-color:#E2C29D; 
$sub-heading-color:#FFD7A5; 
$card-color: #FEE0BC;
$logo-color: #f8e6d0;
$swiper-theme-color: #d4e0ec;