@use "../abstracts";

.footer{
    text-align: center;
    color: rgb(187, 187, 187);
    background: abstracts.$primary-bg-color;
    padding: 2rem;
    
}


//====================================//
//-----------Media Queries-----------//
//==================================//