@use "../abstracts";
@use "../base";
@use "../utilities";
.inspiration {
  background-color: abstracts.$secondary-bg-color;
}

.inspiration__img-content {
  height: 40rem;
  width: 100%;
  position: relative;

  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.219);
  }
}

.inspiration__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  
 
  