@use "../abstracts";
@use "../base";
@use "../utilities";
.about {
  background-color: abstracts.$primary-bg-color;
}

.about__img-content {
  height: 55rem;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #323d5898;
  }
}

.about__img {
  height: 100%;
  width: 100%;
  filter: brightness(92%) contrast(92%);

  object-fit: cover;
}

.about__text-content {
  padding: 6rem 4rem;
}



//====================================//
//-----------Media Queries-----------//
//==================================//

@media screen and (min-width: abstracts.$breakpoint-med) {
  .about__img-content {
    height: 87rem;
  }
}

@media screen and (min-width: abstracts.$breakpoint-lg) {
  // .about{
  //   // height: 100vh;
  // }

  .about__img-content {
    order: 1;
  }

  .about__text-content {
    order: 2;
    right: 14.2rem;
    max-width: 62rem;
  }
}


@media screen and (min-width: abstracts.$breakpoint-xxl) {
  .about__img-content {
    height: 150rem;
  }

  .about__text-content {
    order: 2;
    right: 14.2rem;
    max-width: 75rem;
  }
}