@use "../abstracts";

.testimonies{
    position: relative;
    background-color: abstracts.$primary-bg-color;
    text-align: center;
    

    .section-title{
        margin-block: 3rem 0rem;
        
    }
}


//====================================//
//-----------Media Queries-----------//
//==================================//

